/* font-family: 'Mulish',
sans-serif;
font-family: 'Noto Sans',
sans-serif;
font-family: 'Poppins',
sans-serif;
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

btn {
  font-family: 'Poppins',sans-serif;
}

#navbarDropdown {
  font-family: 'Poppins',sans-serif;
}

.navbar-wrapper {
  background-color: #c4c4c4;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.navbar-wrapper .navbar-section {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar-wrapper .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-wrapper .category img {
  margin-top: 5px;
  width: 12px;
  height: 9px;
}

.navbar-wrapper .category img:hover {
  font-weight: bolder;
}

.navbar-wrapper .category span {
  color: #000000;
  margin-left: 2px;
  font-size: 14px;
}

.navbar-wrapper .category:hover {
  font-weight: 500;
}

.navbar-wrapper .search-form {
  position: relative;
  margin-left: 10px;
}

.navbar-wrapper .search-form input {
  width: 620px;
  height: 44px;
}

.navbar-wrapper .search-form img {
  width: 20px;
  height: 20px;
}

.navbar-wrapper .search-form button {
  position: absolute;
  right: 15px;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-brand img {
  width: 200px;
  height: 60px;
}

.btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.btn-section .cart {
  position: relative;
  margin-left: 8px;
  margin-right: 30px;
}

.btn-section .cart img {
  margin-top: 33px;
  width: 30px;
  height: 30px;
}

.btn-section .cart .counter {
  position: absolute;
  top: 25px;
  right: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #ffff;
  font-size: 10px;
  text-align: center;
  color: #000000;
}

.btn-section .btn-primary-app {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  margin-right: 1.2rem;
  width: 90px;
  height: 37px;
  background-color: #A3A1A1;
  color: #474747;
  border-radius: 5px;
}

.btn-section .btn-primary-app:hover {
  font-weight: bolder;
  color: #3a3a3a;
  border: 2px solid #ffff;
}

.btn-section .btn-secondary-app {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  width: 90px;
  height: 37px;
  background-color: #ffff;
  color: #474747;
  border: 2px solid #A3A1A1;
  border-radius: 5px;
}

.btn-section .btn-secondary-app:hover {
  font-weight: bolder;
  color: #3a3a3a;
  border: 3px solid #9e9d9d;
}

/* slider */
.hero-slider {
  margin-top: 20px;
}

.slider-kotak {
  max-width: 960px;
  height: 240px;
  background-color: aquamarine;
  margin: 0 auto;
}

.title-slider {
  max-width: 960px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 27px;
}

.slider-section {
  max-width: 960px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 240px;
      grid-template-rows: 240px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 30px;
}

.slider-section .slider-category {
  max-width: 480px;
  background-color: #653344;
}

.slider-section .slider-top-lelang {
  max-width: 480px;
  background-color: aqua;
}

/* products */
.section-products {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 42px;
}

.section-products .title-products {
  font-family: 'Mulish',sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 27px;
}

.section-products .products-wrapper {
  max-width: 960px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 150px);
  -webkit-column-gap: 12px;
          column-gap: 12px;
  row-gap: 46px;
}

.section-products .products-wrapper .product-item {
  position: relative;
  font-family: 'Noto Sans',sans-serif;
  border-radius: 5px;
  max-width: 150px;
  height: 260px;
  background-color: #c4c4c4;
}

.section-products .products-wrapper .product-item .img {
  height: 130px;
}

.section-products .products-wrapper .product-item .lelang-times {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
  background-color: #474747;
}

.section-products .products-wrapper .product-item .title-item {
  word-wrap: break-word;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 6px;
}

.section-products .products-wrapper .product-item .item-bottom {
  max-width: 136px;
  position: absolute;
  bottom: 0;
}

.section-products .products-wrapper .product-item .item-bottom .current-price {
  margin-left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-products .products-wrapper .product-item .item-bottom .current-price img {
  width: 12px;
  height: 15px;
}

.section-products .products-wrapper .product-item .item-bottom .current-price .price-bid {
  margin-top: -4.2px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 14px;
  color: #ffff;
}

.section-products .products-wrapper .product-item .item-bottom .item-info {
  margin-left: 7px;
  margin-top: -10px;
  width: 136px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-products .products-wrapper .product-item .item-bottom .item-info p {
  color: black;
  font-size: 10px;
  font-weight: 400;
}

.section-products .more-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-products .more-products .btn-more-app {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  margin-right: 0.55rem;
  border: 1px solid #ffff;
  width: 480px;
  height: 35px;
  background-color: #A3A1A1;
}

.section-products .more-products .btn-more-app:hover {
  font-weight: 500;
  background-color: #918e8e;
  border: 2px solid #ffff;
}

/* Footer */
.footer {
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .title-footer {
  margin-top: 1rem;
  font-family: 'Noto Sans',sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.footer .call-us {
  width: 240px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}

.footer .follow-us a {
  text-decoration: none;
}

.footer .follow-us img {
  width: 22px;
}

.footer .site-logo-info {
  margin-top: 1rem;
}

.footer .site-logo-info img {
  width: 200px;
  height: 60px;
}

.footer .site-logo-info p {
  margin-top: 25px;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}

/* bid Menu */
.bid-wrapper {
  width: 960px;
  height: 720px;
  background-color: #c4c4c4;
  border-radius: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.bid-wrapper .img-bid-section {
  margin: 20px 30px 20px 20px;
}

.bid-wrapper .img-bid-section .img-hero {
  width: 400px;
  height: 400px;
  background-color: #a3a1a1;
  border-radius: 33px;
}

.bid-wrapper .img-bid-section .img-alternatif {
  margin-top: 18px;
  width: 400px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bid-wrapper .img-bid-section .img-alternatif .img-1, .bid-wrapper .img-bid-section .img-alternatif .img-2, .bid-wrapper .img-bid-section .img-alternatif .img-3, .bid-wrapper .img-bid-section .img-alternatif .img-4 {
  width: 90px;
  height: 90px;
  background-color: #a3a1a1;
}

.bid-wrapper .detail-bid-section h1 {
  font-family: 'Mulish', sans-serif;
}

.bid-wrapper .detail-bid-section p {
  font-family: 'Noto Sans', sans-serif;
}

.bid-wrapper .detail-bid-section .title-bid {
  margin-top: 20px;
  font-size: 27px;
  font-weight: 700;
}

.bid-wrapper .detail-bid-section .detail-bid {
  word-wrap: break-word;
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.bid-wrapper .detail-bid-section .bidder-section {
  width: 450px;
  height: 400px;
  background-color: #f1f1f1;
  border-radius: 26px;
  margin-top: 25px;
  position: relative;
}

.bid-wrapper .detail-bid-section .bidder-section .current-price {
  padding-top: 20px;
  padding-left: 30px;
  font-weight: 800;
  font-size: 30px;
}

.bid-wrapper .detail-bid-section .bidder-section .bid-menu {
  width: 400px;
  height: 250px;
  background-color: #3a3a3a;
  margin: 0 auto;
  border-radius: 21px;
}

/* responsive */
/*# sourceMappingURL=style.css.map */